{% extends 'quest/base.html' %}
{% block content %}
    <div style="text-align: center;"><img src="https://gdsctcoer.tech/dsc-3d-logo-img2.png" alt="GDSC" >
	</div>
	<br>
	<br>
	<p>Welcome to the land of secret treasure. Feel like you know everything ? Well, go ahead and get the treasure! Just <a href="login">jump in</a> the quest or <a href="register">sign yourself up</a> for some hunt!</p>
	<br>
	<p>Time's running up, be quick to solve you're quest!</p>
	<br>
	<p><h3>On mobile device, please use landscape mode for best expirience!!</h3></p>
{% endblock %}