{% extends 'quest/base.html' %}
{% block content %}
    <h4><center><b>Please read the following carefully, this is important.</b></center></h4>
	<ul class="list-group">
		<li class="list-group-item"><b>Use landscape mode on mobile devices for best expirience.</b></li>
		<li class="list-group-item">Please register using your real name and email, sketchy users will be deleted without notice.</li>
		<li class="list-group-item">You will get the answer to each clue by scanning QR codes at respective locations.</li>
		<li class="list-group-item">Each clue carries 1 point.</li>
		<li class="list-group-item">You can't proceed to next clue until you solve the current one.</li>
		<li class="list-group-item"><strong>Cheating in any form will result in a premanent ban.</strong> Sharing of answers is deamed as cheating. We are watching your every move and any suspicious activity will lead to disqualification.</li>
	</ul>
{% endblock %}