{% extends 'quest/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		{% if list %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Lead Name</th>
						<th>Team Name</th>
						<th>Clues Cleared</th>
						<th>Time Taken</th>
					</tr>
				</thead>
				<tbody>
					{% for i in list %}
						<tr>
							<td>{{ i.name }}</td>
							<td>{{ i.username }}</td>
							<td>{{ i.points }}</td>
							<td>{{ i.time_diff }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
		<h2>No players have solved any questions yet</h2>
		{% endif %}
	</div>
{% endblock %}